*{
    font-family: 'Press Start 2P', cursive;
    color: white;
    background-color: black;
}

.container{
    display: flex;
    justify-content: center;
}

.controls button{
    margin:1%;
    padding: 10px;
}


.row{
    display: flex;
    justify-content: center;
    display: block;
}

.cell{
    font-size: 70px;
    color: rgb(250, 65, 225);
    width: 150px;
    height: 150px;
    border: 1px grey solid;
    display: flex;
    justify-content: center;
    align-items: center;
}