*{
    font-family: 'Press Start 2P', cursive;
    color: white;
}
body{
    background-color: black;
    background-image: url("http://www.sclance.com/backgrounds/8-bit-background-tumblr/8-bit-background-tumblr_29786.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.container{
    display: flex;
    justify-content: center;
}
.title{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.subtitle{
    margin: 5px 5px 15px -20px;
}
.game-title{
    color: #a6ec2f;
    text-shadow:  2px 2px #fbfbfb;
    font-size: 60px;
    margin: 5px 0 5px 0;
    text-align: center;
}
.controls{
    padding: 20px;
    z-index: 4;
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    text-align: center;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 500px;

    border: 2px solid white;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.pop-up{
    z-index: 5;
    padding: 20px;
    position: fixed;
    top: 300px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    width: 500px;

    border: 2px solid white;
    border-radius: 8px;
    background-color: black;
    color: white;
}

.name-input{
    flex-direction: row;
    padding: 20px;
}

input{
    color: black;
    display: inline;
}

.wrapper{
    align-items: center;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

button{
    background-color: black;
    color:  #a6ec2f;
    padding: 10px;
    width: 180px;
    border-radius: 3px; 
}
button:hover {
    background-color: #a6ec2f;
    color:   white;
  }
.player-names{
    justify-content: center;
    height: 20px;
}
#play1{
    justify-content: center;
}
#play2{
    justify-content: center;
}
#vs{
    display: none;
}
.player-names input{
    margin-left: 10px;
    margin-right: 10px;
    padding: 5px;
    background-color: black;
}

.grid{
    margin: 10px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.grn-text{
    color: #a6ec2f;
}

.row{
    display: flex;
    justify-content: center;
    flex-direction: row;
    visibility: hidden;
}

.cell{
    font-size: 70px;
    color: rgb(250, 65, 225);
    text-shadow: 2px 2px #fbfbfb;
    width: 150px;
    height: 150px;
    border: 1px grey solid;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: -3px -3px 0px rgb(223, 223, 223) inset;
}

.copyright{
    padding: 20px;
    font-size: 10px;
    text-align: center;
}